@import '../_variables';

header {
  height: 172px;
  border-bottom: $header-border-bottom;

  .img-responsive {
    margin: $margin-center;
  }

  .search-input {
    margin: $margin-center;
    width: 250px;

    .input-lg {
      width: 100%;
      border-radius: 0px;
    }
  }
}